*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    font-size: 90%;
}

body{
    background-color: #e7e7e7;
}

body.dark{
    background-color: rgb(16, 16, 16);
    color: #fff;
}

body.dark .card{
    background-color: rgb(43, 43, 43);
}

body.dark .modal-content{
    color: rgb(235, 235, 235);
    background: #343a40;
}
body.dark #modal-carrito-body{
    color: #fff;
}

.card .imgProductos{
    padding: 25px;
}
.logo{
    width: 40px;
    margin-right: 200px;
}
.img-logo{
    width: 45px;
}
.img-carrito{
    width: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.navbar-toggler{
    margin-right: 3px;
}
.buttons{
    text-align: end;
}
.btnEliminar{
    padding: 5px 10px;
    background: red;
    border: 1px solid rgb(255, 0, 0);
}
.btnEliminar i{
    font-size: 20px;
    color: #fff;
}
.btn-carrito{
    margin: 0 25px;
}
.btnActualizar{
    padding: 5px 10px;
    background: rgb(0, 0, 255);
    border: 1px solid rgb(21, 0, 255);
}
.btnActualizar i{
    font-size: 20px;
    color: #fff;
}
.div-switch{
    margin: 0 25px;
}
.switch{
    background: #000;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}
.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background:#F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}
.switch.active{
    background: #fff;
}
.switch.active::after{
    right: 0;
    left: unset;
    background: #000;
    border: 0.1px solid #fff;
}
.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
    display: block;
    background:none;
    color: #fff;
}
.switch.active span{
    color: rgb(0, 0, 0);
}
.saldo{
    line-height: 21px;
    text-align: center;
    width: 150px;
    margin: 0 25px;
}
.saldo .saldoText{
    font-size: 21px;
    color: rgb(0, 255, 149);
    margin-bottom: 4px;
}
.saldo button{
    padding: 4px 5px;
    font-size: 19px;
    border-radius: 6px;
    border: none;
    background: rgb(0, 166, 22);
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 991px){ 
    .navbar-brand i{
        display: none;
    }
    .div-Buscar{
        width: 50%;
    }
    .btn-carrito{
        margin: 0 0;
    }
    .logo{
        margin-right: 0;
    }
}
@media screen and (max-width: 768px){ 
    #p-logo{
        display: none;
    }
}
@media screen and (max-width: 576px){ 
    #div-productos .col{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .div-Buscar input{
        font-size: 0.8rem;
    }
    .div-Buscar span{
        font-size: 0.8rem;
    }
    .div-Buscar button{
        font-size: 0.8rem;
    }
    .card{
        width: 18rem;
    }
    #container-menu{
        padding: 0;
        margin: 0;
    }
    #container-menu .div{
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 425px){ 
    .img-carrito{
        width: 43px;
    }
    .img-logo{
        width: 40px;
    }
    .btn-carrito{
        padding: 0;
        border: 0;
        width: 43px;
    }
    .div-Buscar button{
        display: none;
    }
    .navbar-toggler{
        margin: 0!important;
        padding: 4px;
    }
}
@media screen and (max-width: 325px){ 
    html{
        font-size: 72%;
    }
    .card{
        text-align: center;
        width: 18rem;
    }
    .div-Buscar span{
        display: none;
    }
    .div-Buscar{
        width: 35%;
    }
}
